<!-- Large modal -->

<div class="modal custom2 fade" id="randomModal_10_" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content1">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" id="close-button" data-dismiss="modal" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button>           <br>
          
        </button>
      </div>
      <a id="randomimg_10_"><i style="float: right; padding-top: 2%; font-size:1.6em;" class="fa fa-random" aria-hidden="true"></i></a>
        <div id='container_10_'>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_12 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_12" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_12" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_12()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_11 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_11" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_11" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_11()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_10 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_10" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_10" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_10()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_9 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_9" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_9" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_9()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_8 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_8" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_8" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_8()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_7 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_7" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_7" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_7()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_6 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_6" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_6" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_6()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_5 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_5" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_5" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_5()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_4 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_4" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_4" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_4()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_3 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_3" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_3" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_3()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_2 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_2" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; " >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_2" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_2()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_10_">
                  <div class="flip">
                    <div class="card_10_1 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_10_1" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_10_1" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_10_1()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                

        </div>
      </div>
    </div>
  </div>
</div>

<script>
		function randomFromTo_10_(from, to){
			return Math.floor(Math.random() * (to - from + 1) + from);
		}
  
		function moveRandom_10_(obj) {
			/* get container position and size
			 * -- access method : cPos.top and cPos.left */
			var cPos = $('#container_10_').offset();
			var cHeight = $('#container_10_').height();
			var cWidth = $('#container_10_').width();
			
			// get box padding (assume all padding have same value)
			var pad = parseInt($('#container_10_').css('padding-top').replace('px', ''));
			
			// get movable box size
			var bHeight = obj.height();
			var bWidth = obj.width();
			
			// set maximum position
			maxY = cPos.top + cHeight - bHeight - pad;
			maxX = cPos.left + cWidth - bWidth - pad;
			
			// set minimum position
			minY = cPos.top + pad;
			minX = cPos.left + pad;
			
			// set new position			
			newY = randomFromTo_10_(minY, maxY);
			newX = randomFromTo_10_(minX, maxX);
			
			obj.animate({
				top: newY,
				left: newX
				}, 500, function() {
          moveRandom_10_(obj);
			});
		}
$('.latestblock_10_').each(function() {
moveRandom_10_($(this));
});

$("#container_10_").click(function(){    
    $(".latestblock_10_").stop();
    });

$("#randomimg_10_").click(function(){
  $('.latestblock_10_').each(function() {
  moveRandom_10_($(this));
  });
});

$("img").error(function () { 
    $(this).hide();
    // or $(this).css({visibility:"hidden"}); 
});

</script>