<!-- Large modal -->

<div class="modal custom2 fade" id="randomModal_1_" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content1">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" id="close-button" data-dismiss="modal" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button>           <br>
          
        </button>
      </div>
      <a id="randomimg_1_"><i style="float: right; padding-top: 2%; font-size:1.6em;" class="fa fa-random" aria-hidden="true"></i></a>
        <div id='container_1_'>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_12 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_12" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_12" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_12()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_11 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_11" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_11" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_11()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_10 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_10" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_10" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_10()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_9 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_9" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_9" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_9()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_8 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_8" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_8" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_8()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_7 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_7" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_7" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_7()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_6 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_6" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_6" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_6()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_5 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_5" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_5" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_5()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_4 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_4" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_4" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_4()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_3 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_3" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_3" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_3()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_2 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_2" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; " >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_2" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_2()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_1_">
                  <div class="flip">
                    <div class="card_1_1 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_1_1" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_1_1" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_1_1()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                

        </div>
      </div>
    </div>
  </div>
</div>

<script>
		function randomFromTo_1_(from, to){
			return Math.floor(Math.random() * (to - from + 1) + from);
		}
  
		function moveRandom_1_(obj) {
			/* get container position and size
			 * -- access method : cPos.top and cPos.left */
			var cPos = $('#container_1_').offset();
			var cHeight = $('#container_1_').height();
			var cWidth = $('#container_1_').width();
			
			// get box padding (assume all padding have same value)
			var pad = parseInt($('#container_1_').css('padding-top').replace('px', ''));
			
			// get movable box size
			var bHeight = obj.height();
			var bWidth = obj.width();
			
			// set maximum position
			maxY = cPos.top + cHeight - bHeight - pad;
			maxX = cPos.left + cWidth - bWidth - pad;
			
			// set minimum position
			minY = cPos.top + pad;
			minX = cPos.left + pad;
			
			// set new position			
			newY = randomFromTo_1_(minY, maxY);
			newX = randomFromTo_1_(minX, maxX);
			
			obj.animate({
				top: newY,
				left: newX
				}, 500, function() {
          moveRandom_1_(obj);
			});
		}
$('.latestblock_1_').each(function() {
moveRandom_1_($(this));
});

$("#container_1_").click(function(){    
    $(".latestblock_1_").stop();
    });

$("#randomimg_1_").click(function(){
  $('.latestblock_1_').each(function() {
  moveRandom_1_($(this));
  });
});

$("img").error(function () { 
    $(this).hide();
    // or $(this).css({visibility:"hidden"}); 
});

</script>