<!-- Large modal -->

<div class="modal custom2 fade" id="randomModal_3_" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content1">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" id="close-button" data-dismiss="modal" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button>           <br>
          
        </button>
      </div>
      <a id="randomimg_3_"><i style="float: right; padding-top: 2%; font-size:1.6em;" class="fa fa-random" aria-hidden="true"></i></a>
        <div id='container_3_'>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_12 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_12" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_12" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_12()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_11 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_11" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_11" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_11()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_10 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_10" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_10" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_10()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_9 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_9" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_9" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_9()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_8 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_8" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_8" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_8()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_7 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_7" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_7" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_7()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_6 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_6" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_6" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_6()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_5 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_5" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_5" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_5()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_4 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_4" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_4" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_4()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_3 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_3" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_3" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_3()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_2 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_2" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; " >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_2" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_2()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                <div class="latestblock_3_">
                  <div class="flip">
                    <div class="card_3_1 flipped"> 
                      <div class="face front"> 
                          <img id="cardimage_3_1" class="" style="height: 250px; width: 150px; border-radius: 5px; visibility: hidden; "  >
                      </div> 
                      <div class="face back"> 
                          <img id="cardback_3_1" class="cardimage1 " style=" width: 150px; border-radius: 5px; display:block;"  onclick="return flip_3_1()">
                      </div>
                    </div>	 
                  </div>	
                </div>
                

        </div>
      </div>
    </div>
  </div>
</div>

<script>
		function randomFromTo_3_(from, to){
			return Math.floor(Math.random() * (to - from + 1) + from);
		}
  
		function moveRandom_3_(obj) {
			/* get container position and size
			 * -- access method : cPos.top and cPos.left */
			var cPos = $('#container_3_').offset();
			var cHeight = $('#container_3_').height();
			var cWidth = $('#container_3_').width();
			
			// get box padding (assume all padding have same value)
			var pad = parseInt($('#container_3_').css('padding-top').replace('px', ''));
			
			// get movable box size
			var bHeight = obj.height();
			var bWidth = obj.width();
			
			// set maximum position
			maxY = cPos.top + cHeight - bHeight - pad;
			maxX = cPos.left + cWidth - bWidth - pad;
			
			// set minimum position
			minY = cPos.top + pad;
			minX = cPos.left + pad;
			
			// set new position			
			newY = randomFromTo_3_(minY, maxY);
			newX = randomFromTo_3_(minX, maxX);
			
			obj.animate({
				top: newY,
				left: newX
				}, 500, function() {
          moveRandom_3_(obj);
			});
		}
$('.latestblock_3_').each(function() {
moveRandom_3_($(this));
});

$("#container_3_").click(function(){    
    $(".latestblock_3_").stop();
    });

$("#randomimg_3_").click(function(){
  $('.latestblock_3_').each(function() {
  moveRandom_3_($(this));
  });
});

$("img").error(function () { 
    $(this).hide();
    // or $(this).css({visibility:"hidden"}); 
});

</script>