<div class="band2">
        <div class=".col-md-4">
          <img id= "comparecard1" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard2" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard3" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard6" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard4" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard5" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard7" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard8" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard9" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard10" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard11" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>

        <div class=".col-md-4">
          <img id= "comparecard12" class="organon-card-front-new cardImage2" src= "/images01/CardBack.jpg" onclick="press(event);" data-toggle="modal" data-target="#cardModal" data-card-id="1">
        </div>
      

      </div>

    