<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        <%= link_to 'Mgctr78 Library', libraries_path %>        
                </li>
                <li><%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i> Add new'.html_safe, new_library_path %></li>
                <br>
                <% @libraries.each do |library| %>
                <li>
                    <p11><%= link_to library.name , library %></p11>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="showitem"><%= render "libraries/showold" %></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



