
<div class="parrent">
  <div class="band1 justify-content-center align-items-center child">
      <div class="card-all .col-md-4">
        <a href="/1" style="text-decoration : none">
        <img class="card-img-icon img-fluid" src="imagesxx/icon01.png" />
        <div class="card-block">
        <div id="lblTitle1" class="cbFont2">Magician</div>
        </div></a>
      </div>

      <div class="card-all .col-md-4">
        <a href="<%= meaning_path %>" style="text-decoration : none">
        <img class="card-img-icon img-fluid" src="imagesxx/icon02.png" />
        <div class="card-block">
        <div id="lblTitle1" class="cbFont2">Tarot78</div>
        </div></a>
      </div>

      <div class="card-all .col-md-4">
      <a href="<%= about_path %>" style="text-decoration : none;">
        <img class="card-img-icon img-fluid" src="imagesxx/icon03.png" />
        <div class="card-block">
        <div id="lblTitle1" class="cbFont2">About</div>
        </div></a>
      </div>
  </div>
</div>

<%= render "home/memberListmodal" %>
<%= render "home/usermodal" %>


    